#bg {
    background-image: url(bg.png);
}

#Sheet {
    background-color: rgba(255, 255, 255, 0.4);
    width: 60rem;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;



}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------viewRecipe Page*/
.flexRow {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.container {
    margin-right: 3rem;
    margin-left: 3rem;
}

.sectionHeader{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}
.sectionText{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

#bowlImg {
    width: 17rem;


}


#report,
#like,
#fav
{


    padding: 0.5rem 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}


#report {
    background-color: rgb(236, 135, 135);
    color: darkred;
    margin-left: 1rem;

}

#like {
    margin-left: 27rem;
    background-color: rgb(114, 214, 96);
    color: darkgreen;

}

#fav {
    background-color: rgb(114, 214, 96);
    color: darkgreen;
    margin-left: 1rem;

}

#post{
    padding: 0.3rem 0.7rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

#report:hover {
    background-color: rgb(210, 105, 105);
}

#like:hover,
#fav:hover {
    background-color: rgb(90, 180, 75);
}

#post:hover {
    background-color:gray;
}




.rname {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5rem;

}

.rcategory {
    font-size: 1rem;
    background-color: darkgrey;
    color: rgb(67, 66, 66);
    padding: 0.5rem 0.8rem;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5rem;
    display: inline-block;

}

.rdescription {
    font-size: 1.5rem;
}

#comment{
    border-radius: 1rem;
}

.profile{
    width:4rem;
}

#comments p{
    margin-left: 1rem;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------viewRecipe Page ends*/