#orangebg{
    background-color: #eb5e07;
}

#recipeSheet{
    background-color: white;
    width: 60rem;
    margin-left: 20%;
    padding-bottom: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;


}
#floatRight{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.rb{
    display: flex;
    flex-direction: row;

}

#bowlImg{
    width: 17rem;


}

.line{
    height: 2px;
    width: 58rem;
    background-color: darkgray ;

}

#report{
    background-color: rgb(236, 135, 135);
    color: darkred;
    padding: 0.5rem 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}
#like{
    background-color: rgb(114, 214, 96);
    color: darkgreen;
    padding: 0.5rem 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}
#fav{
    background-color: rgb(114, 214, 96);
    color: darkgreen;
    padding: 0.5rem 0.8rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
}

.rname, .rcategory, .rdescription{

    margin-left: 3rem;
    margin-right: 3rem;

}
.rname{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5rem;
   
}

.rcategory{
    font-size: 1rem;
    background-color: darkgrey;
    color:rgb(67, 66, 66) ;
    padding: 0.5rem 0.8rem;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5rem;
    display: inline-block;

}
.rdescription{
    font-size: 1.5rem;
}
